<li id="<%= @question.id %>" style="display:block">
	<p><%= @question.question %></p>
	<div>
		<%= text_field_tag "text-content-#{@question.id}", "" %>
		<%= submit_tag 'Answer', :onclick =>"alerts('text-content-#{@question.id}', '#{@question.answer}')" %>
	</div>
</li>
<%= link_to 'Back to Home Page', "/welcome/index" %>